<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign up </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container ">
        <br><br>
        <h1 class="header center  text-lighten-2 "> Treasure Map
          <div class="row center">
            <h3 class="header col s12 dark">"Dead Men Tell no Tales!"      <a href="index.html" id="homeBtn" class="btn-floating btn-small waves-effect waves-light teal dark"><i
                  class="material-icons center-align">home</i></a></h3>
          </div>
      </div>
    </div>
    <div class="parallax"><img src="background6.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <br><br>
  <form class="col s12 center-align">
      <div class="container center-align">
        <div  class="ard-action teal lighten-1 white-text">
          <h3>Sign Up Form </h1>
          </h3>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="signupEmail" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="signupPassword" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
      </div>
      <!-- dummy button with <a "treasureMap route" -->
      <button class="btn waves-effect waves-light" type="submit" name="action"><a href="treasureMap.html">Submit</a>
        <i class="material-icons right">send</i>
      </button>
      <!-- real Button once submit with email and password should take you to treasureMap route -->
      <button class="btn waves-effect waves-light" type="submit" name="action" id="signupBtn">Sign Up
        <i class="material-icons right">send</i>
      </button>
      </div>
    </form>
    <br><br>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container center">
        Made by Pirate UNICORNS
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>